<a href="https://colab.research.google.com/github/seahound/Azure-TDSP-ProjectTemplate/blob/master/Access_data_from_Hut34_DataHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Instructions on how to download, buy, and sell data from the Hut34 dataHub using Python**

In [0]:
import requests
import pandas as pd
from pandas import DataFrame

## Obtain you Authentication Token   

Go to the hut34 dataHub and select documentation => integrations.

Copy your 'Id Token'

![IntegrationToken](https://hut34.io/assets/documents/IntegrationToken.PNG)

In [0]:
token = 'insert Id Token here'

## 1. Obtain a list of your Uploaded Datasets.

In [0]:
def show():
    """
    Lists all available datasets in a panda dataframe
    """
    response = requests.post(url="https://hut34datahub.appspot.com/user/getUploadedDatasets",data={'token': token})
    if response.status_code == 200:
        data = response.json()
        return pd.DataFrame(data=[x['data'] for x in data],index=[x['id'] for x in data])
    else:
        return 'Error getting list of datasets'

In [0]:
show()

                     ENTRPPrice  ...                    description
0HtC94YTEoZBrKYzQtMk        1.3  ...  A list of all F1 constructors
tPz5IRzaPnGTZJm1EAPx          2  ...         Crime Rates in the USA

[2 rows x 4 columns]

Inside the hut34 datHub, your dataset Id can be found at Datasets => My Datasets

![Select dataset ID](https://hut34.io/assets/documents/purchasedDatasetID.PNG)

# 2. Download your Dataset(s).

In [0]:
dataset_id = "<insert dats Id here>"

In [0]:
def load(dataset_id):
    """
    Loads a dataset into a panda dataframe
    """
    parameters = {'token': token, 'dataSetId': dataset_id}
    response = requests.post(url="https://hut34datahub.appspot.com/user/downloadFile",data=parameters)
    if response.status_code == 200:
        data = response.json()
        return pd.DataFrame(data=data['data'],columns=[x['name'] for x in data['header']])
    else:
        return 'Error loading dataset'

In [0]:
my_df=load(dataset_id)

In [0]:
my_df.head()

    Year  Population1  ... Motor \nvehicle \ntheft Motor \nvehicle \ntheft \nrate
0   1997  267,783,607  ...               1,354,189                           505.7
1   1998  270,248,003  ...               1,242,781                           459.9
2   1999  272,690,813  ...               1,152,075                           422.5
3   2000  281,421,906  ...               1,160,002                           412.2
4  20015  285,317,559  ...               1,228,391                           430.5

[5 rows x 22 columns]


## 3. Retrieve list of All Datasets

## 4. Purchase a Dataset

##5. Download a Purchased Dataset

##6. Upload a Dataset for sale

## Colossus Security Service

Upload a dataset to colossus

Download a datset from colossus